// style main header
.main-header{
    font-size: calc($large-heading + 6px);
    font-weight: bold;
    position: relative;
    max-width: max-content;
    color: $text-color;
    &:after{
        content: '';
        position: absolute;
        width: 30%;
        height: 5px;
        background-color: $secondary-color;
        bottom: -15px;
        left: 0;
        border-radius: 5px;
        @include easeInOut
    }
    &:hover{
        &:after{
            width: 100%;
        }
    }

   
}


.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 0.5rem;
    cursor: pointer;
}

// style main button
.btn-primary {
    background: $primary-color;
    &:hover{
        background: darken($primary-color, 20);

    }
}