// Colors
$bg-white-red: #e17055;
$bg-dark-red: #d63031;
$bg-dark-pink: #e84393;
$bg-dark-gray: #2d3436;
$bg-light-blue: #5858fc;
$bg-dark-blue: #2b2b83;
$bg-white: #ffffff;

$bg-main: #b5acac;
$text-color: #333;

$primary-color: #2e5797;
$primary-transparent: #2e5697a8;
$secondary-color: #fde428;
